.scrollY {
    overflow-y: auto;
    overflow-x: hidden;
}

h1, 
h2,
h3,
p {
    margin: 0;
}

.textRight {
    text-align: right;
}

.dotted {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}