.dflex {
    display: flex;
}

.directionColumn {
    flex-direction: column;
}

.alignCenter, .alignBoth {
    align-items: center;
}

.flexible {
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

.noShrink {
    flex-shrink: 0;
}

.wrap {
    flex-wrap: wrap;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyEvenly, .alignBoth {
    justify-content: space-evenly;
}