:root {
    --white_bg: #fff;
    --white_text: #fff;
    --font_bold: 600;
    --font_semibold: 500;
    --theme_text: #4957DD;
    --theme_bg: #4957DD;
    --description-text: #777;
    --grey-border: rgb(226, 226, 226);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
    background: url('../images/body-bg.png') no-repeat center;
    font-size: 14px;
}

header, footer {
    height: 80px;
}

header {
    background-color: var(--white_bg);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.section {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 30px;
}

.topSpace {
    margin-top: 150px;
}

.headerInner {
    height: 100%;
}

.head {
    font-size: 32px;
    margin-block: 0;
    line-height: 80px;
}

.headerNav {
    column-gap: 40px;
}

.navLink {
    text-decoration: none;
    padding-inline: 5px;
    text-transform: uppercase;
    font-weight: var(--font_bold);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navLink:hover {
    color: var(--theme_text);
}

.navLink.active {
    color: var(--theme_text);
}


/* home */
.homeContainer {
    height: 600px;
}

.homeImg {
    width: 40%;
}

.homeText, .nameText {
    margin-bottom: 15px;
}

.homeText {
    font-size: 25px;
    position: relative;
}

.homeText::after {
    content: '';
    width: 250px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 8%;
    background-color: #000000;
}

.nameText {
    font-size: 70px;
}

.roleText, .nameText {
    text-transform: uppercase;
}

.roleText {
    font-size: 25px;
    color: var(--theme_text);
    font-weight: var(--font_bold);
}


/* about */
.aboutContent {
    margin-left: 100px;
}

.aboutHeading {
    font-size: 35px;
    text-transform: uppercase;
}

.aboutDescription {
    color: var(--description-text);
    line-height: 2;
}



/* skills */
.skillsHeading, .projectsHeading {
    font-size: 35px;
    text-align: center;
    margin-block: 0;
    text-transform: uppercase;
}

.skillsWrapper {
    gap: 50px;
    margin-top: 100px;
}

.skillBlock {
    width: 180px;
    border-radius: 4px;
    border: 1px solid var(--grey-border);
    padding: 20px;
    text-align: center;
    transition: box-shadow .2s;
}

.skillBlock:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.skillImg {
    height: 120px;
    width: 130px;
}

.skillText {
    margin-top: 10px;
    font-weight: var(--font_bold);
}


/* projects */
.tabWrapper {
    height: 50px;
    column-gap: 50px;
    margin-top: 50px;
}

.tab {
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.tab.active, .tab:hover {
    color: var(--theme_text);
}

.tabContentWrapper {
    padding-top: 50px;
    gap: 50px 100px;
}

.projectCard {
    width: 350px;
    cursor: pointer;
}

.projectImgCont {
    position: relative;
}

.projectImg {
    width: 100%;
    border-radius: 5px;
}

.projectText {
    font-size: 20px;
    font-weight: var(--font_semibold);
    text-transform: uppercase;
    margin-top: 15px;
}

.overlayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background-color: rgba(77, 87, 222, 0);
    color: var(--white_text);
    transition: all 0.3s ease-in-out;
    font-size: 50px;
}

.projectCard:hover .overlayer {
    background-color: rgba(77, 87, 222, .5);
}

.newTabIcon {
    display: none;
    animation: tabIcon .3s;
}

@keyframes tabIcon {
    0%{
        margin: 0 100px 100px 0;
    }
    100% {
        margin: 0;
    }
}

.projectCard:hover .newTabIcon {
    display: block;
}


/* footer */
footer {
    margin-top: 100px;
    background-color: var(--theme_bg);
}

.footerIconsCont {
    width: 300px;
}

.footerIcon {
    font-size: 25px;
    color: var(--white_text);
    cursor: pointer;
}