:root {
    --white_bg: #fff;
    --font_semibold: 600;
    --theme_text: #4957DD;
    --description-text: #777;
    --grey-border: rgb(226, 226, 226);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background: url('../images/body-bg.png') no-repeat center;
    font-size: 14px;
}

header, footer {
    height: 80px;
}

header {
    background-color: var(--white_bg);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.headerInner, .homeContainer, .aboutContainer, .skillsContainer {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 30px;
}

.headerInner {
    height: 100%;
}

.head {
    font-size: 32px;
    margin-block: 0;
    line-height: 80px;
}

.headerNav {
    column-gap: 40px;
}

.navLink {
    text-decoration: none;
    padding-inline: 5px;
    text-transform: uppercase;
    font-weight: var(--font_semibold);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navLink:hover {
    color: var(--theme_text);
}

.navLink.active {
    color: var(--theme_text);
}


/* home */
.homeContainer {
    height: 600px;
}

.homeImg {
    width: 40%;
}

.homeText, .nameText {
    margin-bottom: 15px;
}

.homeText {
    font-size: 25px;
    position: relative;
}

.homeText::after {
    content: '';
    width: 250px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 8%;
    background-color: #000000;
}

.nameText {
    font-size: 70px;
}

.roleText, .nameText {
    text-transform: uppercase;
}

.roleText {
    font-size: 25px;
    color: var(--theme_text);
    font-weight: var(--font_semibold);
}


/* about */
.aboutContainer {
    margin-top: 150px;
}

.aboutContent {
    margin-left: 100px;
}

.aboutHeading {
    font-size: 35px;
    text-transform: uppercase;
}

.aboutDescription {
    color: var(--description-text);
    line-height: 2;
}



/* skills */
.skillsContainer, .projectsContainer {
    margin-top: 150px;
}

.skillsHeading, .projectsHeading {
    font-size: 35px;
    text-align: center;
    margin-block: 0;
    text-transform: uppercase;
}

.skillsWrapper {
    gap: 50px;
    margin-top: 100px;
}

.skillBlock {
    width: 180px;
    border-radius: 4px;
    border: 1px solid var(--grey-border);
    padding: 20px;
    text-align: center;
    transition: box-shadow .2s;
}

.skillBlock:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.skillImg {
    height: 120px;
    width: 130px;
}

.skillText {
    margin-top: 10px;
    font-weight: var(--font_semibold);
}




.footer {

}